alembic==1.4.0
attrs==19.3.0
bottle==0.12.18
certifi==2019.11.28
chardet==3.0.4
elasticsearch==7.5.1
gunicorn==20.0.4
idna==2.8
importlib-metadata==1.5.0
jsonschema==3.2.0
kavenegar==1.1.2
Mako==1.1.1
MarkupSafe==1.1.1
marshmallow==3.4.0
mongosql==2.0.10.post1
psycopg2-binary==2.8.4
pyrsistent==0.15.7
python-dateutil==2.8.1
python-dotenv==0.11.0
python-editor==1.0.4
python-magic==0.4.15
redis==3.4.1
requests==2.22.0
six==1.14.0
SQLAlchemy==1.3.13
urllib3==1.25.8
zipp==2.2.0
