rbac
alembic==1.4.0
appdirs==1.4.3
bottle==0.12.18
bottle-jwt==0.11
certifi==2019.11.28
coverage==5.0.3
gunicorn==20.0.4
kavenegar==1.1.2
marshmallow==3.4.0
mongosql==2.0.10.post1
nose==1.3.7
packaging==20.1
psycopg2-binary==2.8.4
PyJWT==1.7.1
python-dotenv==0.11.0
redis==3.4.1
rootpath==0.1.1
sentry-sdk==0.14.1
simplerbac==0.1.3
SQLAlchemy==1.3.13
tox==3.14.5
virtualenv==20.0.7
WebTest==2.0.34
Werkzeug==1.0.0
zipp==2.2.0
sqlalchemy-filters==0.10.0
